/* <body>
        <!-- Change page background color to a softer white -->
        <h1>Odin Recipes</h1>
        <!-- Center align h1 -->
        <!-- Change header background color to white -->
        <!-- Change font family to Verdana -->
        <!-- Increase font size -->
        <!--  -->
        <ul>
            <li><a href="./recipes/pancake-recipe.html">Pancake Recipe</a></li>
            <li><a href="./recipes/bulgogi-recipe.html">Bulgogi Recipe</a></li>
            <li><a href="./recipes/vanilla-milkshake-recipe.html">Vanilla Milkshake Recipe</a></li>
        </ul>
        <!-- Make changes below for links to pancake, bulgogi, and vanilla milkshake: -->
        <!-- Center align links-->
        <!-- Change text color to white -->
        <!-- Change text background color to black -->
        <!-- Change font family to Verdan -->
        <!-- Increase font size  -->
</body> */

/* * {
    outline: 2px solid red;
    margin: 0px;
    padding: 0px;
} */
    
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: rgb(232, 223, 212);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: medium;
}

.content-container {
    width: 600px;
    height: auto;
    background-color: rgb(237, 229, 229);
    padding: 35px;
    border: 5px solid rgb(26, 24, 24);;
    margin: 30px auto;
}

.content,
p {
    margin-bottom: 10px;
}

.button {
    color: rgb(26, 24, 24);
    background-color: orange;
    display: inline-block;
    padding: 10px;
    width: 200px;
    font-weight: bold;
    text-decoration: none;
    border: 2px solid rgb(26, 24, 24);;
    text-align: center;
    line-height: 25px;
    margin: 5px;

}

