body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(15, 15, 15);
    font-size: medium;
    background-color: rgb(236, 235, 235);
}

h1, .navigation{
    text-align: center;
}

img {
    width: 350px;
    height: auto;
}
