/* <!-- Checklist Iteration #1 [Feb 13, 2025] -->
<!--
- Is there a footer about the author and page? y
- Are the list tags for the navigation links removed for all pages? y
- Is there an anchor tag at the bottom for the user to jump back to the top? y

- Is the all recipe content contained in a box? y
- Is the header, navigation and footer links outside of the box? y
- Is the image, recipe content and footer contained inside the box? y
- Does the box have a border? y
- Does the box have a background? y

- Is there margin spacing from the top? 
- Is there margin-bottom spacing between each element? 
- Is the content in the box properly vertically aligned?
- Do all box box properties and values follow the same format as the homepage?


- Are the navigation links buttons?  
- Do the buttons have a border? 
- Is the button content different from the default purple and underlined text? 
- Are the links contained in buttons? 
- Do the links within the button have adequate padding? 
- Do the button properties follow the same format as the Homepage

- Is the red outlining gone? 

- Can the page support different screen sizes? --> */

/* * {
    outline: 2px solid red;
    margin: 0px;
    padding: 0px;
} */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: rgb(232, 223, 212);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: medium;
}

img {
    width: 350px;
    height: auto;
}

.recipe-container {
    width: 600px;
    height: auto;
    background-color: rgb(237, 229, 229);
    padding: 35px;
    border: 5px solid rgb(26, 24, 24);;
    margin: 30px auto;
}
